.navbar {
    z-index: 200;
    
}

section:nth-of-type(1) h1 {
    color: rgb(2, 0, 97);
    font-size: 50px;
    font-weight: bold;
}

section:nth-of-type(1) h1 span {
    color: var(--bs-orange);
}

section:nth-of-type(1) h2 {
    font-size: 35px;
    color: rgb(0, 41, 0);
}

section:nth-of-type(1) h3 {
    font-size: 30px;
    color: rgb(8, 201, 111);
}
